In [2]:
# Q.1 How do you declare a variable named age and assign the value 25 to it?

In [3]:
import pandas as pd  # Importing the pandas library

# Declaring a variable and assigning a value
age = 25

# Creating a sample pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Displaying the DataFrame
print("Variable age:", age)
print("\nSample DataFrame:\n", df)

Variable age: 25

Sample DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [4]:
# Q.2 Import a CSV file in Jupyter using Pandas?

In [6]:
# Example
import pandas as pd  # Import pandas library

# Import CSV file
#df = pd.read_csv('filename.csv')  # We will replace 'filename.csv' with actual file path

In [7]:
# Q.3 What Python function can you use to display the first 5 rows of a DataFrame?

In [9]:
# Example
# Display the first 5 rows of the DataFrame
#print(df.head())

In [10]:
# Q.4 How do you check the number of rows and columns in a DataFrame?

In [11]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Check the number of rows and columns
print("Number of rows and columns:", df.shape)

Number of rows and columns: (3, 2)

In [12]:
# Q.5 What function is used to identify missing (null) values in a DataFrame?

In [13]:
import pandas as pd

# Sample DataFrame with missing values
data = {'Name': ['Alice', 'Bob', None], 'Age': [25, None, 35]}
df = pd.DataFrame(data)

# Identify missing values
print("Missing values:\n", df.isnull())

Missing values:
     Name    Age
0  False  False
1  False   True
2   True  False

In [14]:
# Q.6 How do you count the total number of null values in a DataFrame?

In [15]:
import pandas as pd

# Sample DataFrame with missing values
data = {'Name': ['Alice', 'Bob', None], 'Age': [25, None, 35]}
df = pd.DataFrame(data)

# Count the total number of null values
total_null_values = df.isnull().sum().sum()

print("Total number of null values:", total_null_values)

Total number of null values: 2

In [16]:
# Q.7 What method is used to find duplicate rows in a DataFrame?

In [19]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie'], 'Age': [25, 30, 25, 35]}
df = pd.DataFrame(data)

# Find duplicate rows
duplicate_rows = df.duplicated()

print("Duplicate rows:\n", duplicate_rows)

Duplicate rows:
 0    False
1    False
2     True
3    False
dtype: bool

In [20]:
# Q.8 How do you check if a specific column in a DataFrame contains duplicate values?

In [21]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie'], 'Age': [25, 30, 25, 35]}
df = pd.DataFrame(data)

# Check for duplicates in the 'Name' column
duplicates_in_name = df['Name'].duplicated()

print("Duplicates in 'Name' column:\n", duplicates_in_name)

Duplicates in 'Name' column:
 0    False
1    False
2     True
3    False
Name: Name, dtype: bool

In [22]:
# Q.9 Write Python code to calculate the mean of a column.

In [23]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Calculate the mean of the 'Age' column
mean_age = df['Age'].mean()

print("Mean of the 'Age' column:", mean_age)

Mean of the 'Age' column: 30.0

In [24]:
# Q.10 How do you drop all duplicate rows in a DataFrame?

In [25]:
import pandas as pd

# Sample DataFrame with duplicate rows
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie'], 'Age': [25, 30, 25, 35]}
df = pd.DataFrame(data)

# Drop duplicate rows
df_no_duplicates = df.drop_duplicates()

print("DataFrame without duplicates:\n", df_no_duplicates)

DataFrame without duplicates:
       Name  Age
0    Alice   25
1      Bob   30
3  Charlie   35

In [26]:
# Q.11 What is the key difference between Python's lists and arrays from the NumPy library?write code for example.

In [27]:
'''The key difference between Python's lists and NumPy arrays is that NumPy arrays are specifically designed for numerical computations and offer
better performance, especially for large datasets. They are more efficient in terms of memory usage and speed compared to Python lists. 
NumPy arrays also support element-wise operations (e.g., addition, multiplication) directly, while Python lists do not.'''

"The key difference between Python's lists and NumPy arrays is that NumPy arrays are specifically designed for numerical computations and offer\nbetter performance, especially for large datasets. They are more efficient in terms of memory usage and speed compared to Python lists. \nNumPy arrays also support element-wise operations (e.g., addition, multiplication) directly, while Python lists do not."

In [28]:
# End of quiz 1